
<div class="holder padding-zero">
	<div class="cars-plugin layout4">
		<div class="cars-banner text-overlay" style="min-height: 267px" ng-if="WidgetAuction.item.topImage" data-ng-attr-style="background:url({{WidgetAuction.item.topImage}}) no-repeat; background-position:center center; background-size:cover; " crop-width="342" crop-height="267" crop-type="crop">
			<div class="cars-bg padding-top-fifteen padding-bottom-fifteen clearfix">
				<div class="cars-holder clearfix">
					<div class="cars-media text-center">
						<img class="border-grey img-circle text-overlay" load-image="1x1" style="min-height: 140px;min-width: 140px"
                 data-final-src="{{WidgetAuction.item.topImage}}" crop-width="140" crop-height="140" crop-type="crop">
					</div>
					<div class="cars-info text-center margin-top-fifteen col-md-12">
						<p class="text-overlay" style="color:#5f5f5f !important; font-size: 16px !important;">{{WidgetAuction.item.fName}} {{WidgetAuction.item.lName}}</p>
						<p style="color:#5f5f5f !important;">{{WidgetAuction.item.position}}</p>
            			<a ng-if="WidgetAuction.item.socialLinks.length" class="icon icon-profile text-overlay" ng-click="WidgetAuction.openLinks(WidgetAuction.item.socialLinks)"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="cars-banner text-overlay"
         ng-if="!WidgetAuction.item.topImage"
         data-ng-attr-style="background:url({{WidgetAuction.item.topImage||'../../../styles/media/holder-1x1.png'}}) no-repeat; background-position:center center;">
			<div class="cars-bg padding-top-fifteen padding-bottom-fifteen clearfix">
				<div class="cars-holder clearfix">
					<div class="cars-media text-center">
						<img class="border-grey img-circle text-overlay"
                 ng-src="{{'../../../styles/media/holder-1x1.png'}}">
					</div>
					<div class="cars-info text-center margin-top-fifteen col-md-12">
						<p class="text-overlay" style="color:#5f5f5f !important; font-size: 16px !important;">{{WidgetAuction.item.fName}} {{WidgetAuction.item.lName}}</p>
						<p style="color:#5f5f5f !important;">{{WidgetAuction.item.position}}</p>
						<a class="icon icon-profile text-overlay" ng-if="WidgetAuction.item.socialLinks.length" ng-click="WidgetAuction.openLinks(WidgetAuction.item.socialLinks)"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="padded">
			<p class="break-word text-overlay"
         ng-if='WidgetAuction.item.bodyContent' ng-bind-html='WidgetAuction.safeHtml(WidgetAuction.item.bodyContent)'></p>
			<p class="break-word text-overlay" ng-if='!WidgetAuction.item.bodyContent'></p>
		</div>
	</div>
</div>
