<div class="holder padding-zero">
    <div class="cars-plugin layout3">
        <div class="cars-banner">
            <div class="cars-bg padding-top-fifteen padding-bottom-fifteen clearfix">
                <div class="cars-holder clearfix border-bottom-grey">
                    <div class="cars-media text-center" ng-if="WidgetAuction.item.topImage" style="min-height: 140px">
                        <img class="border-grey img-circle text-overlay" load-image="1x1"
                             data-final-src="{{WidgetAuction.item.topImage}}" crop-width="140" crop-height="140" crop-type="crop">
                    </div>
                    <!--<div class="cars-media text-center" ng-if="!WidgetAuction.item.topImage">
                        <img class="border-grey img-circle text-overlay"
                 ng-src="{{'../../../styles/media/holder-1x1.png'}}">
                    </div>-->

                    <div data-ng-attr-style="{{ !WidgetAuction.item.topImage && 'padding-left:15px !important' || '' }}" class="cars-info text-center margin-top-fifteen col-md-12">
                        <p class="ellipsis margin-top-five" style="font-size: 16px">{{WidgetAuction.item.fName}} {{WidgetAuction.item.lName}}</p>

                        <p class="ellipsis text-overlay">{{WidgetAuction.item.position}}</p>
                        <a ng-if="WidgetAuction.item.socialLinks.length" class="icon icon-profile text-overlay"
                           ng-click="WidgetAuction.openLinks(WidgetAuction.item.socialLinks)"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="padded">
            <p class="break-word text-overlay" ng-if='WidgetAuction.item.bodyContent'
               ng-bind-html='WidgetAuction.safeHtml(WidgetAuction.item.bodyContent)'></p>

            <p class="break-word text-overlay" ng-if='!WidgetAuction.item.bodyContent'></p>
        </div>
    </div>
</div>
